html,
body {
  margin: 0px;
  background-color: darkgray;
  font-family: Arial, Helvetica, sans-serif;
}

.grid-layout {
  background-color: rgb(54, 54, 54);
  display: grid;
  grid-gap: 10px;
  grid-template-areas:
    "header header header header header header"
    "main main main main main main"
    "footer footer footer footer footer footer";
}

.header {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: black;
  border: 1px solid gray;
}

.logo {
  font-size: 32px;
  color: lightsalmon;
}

.form-container {
  display: flex;
  padding: 3px;
  background-color: lightsalmon;
}

.main-container {
  display: flex;
  flex-flow: row wrap;
  flex-direction: column;
  padding: 10px;
  min-height: calc(100vh - 130px);
}

.token-tile {
  display: flex;
  align-items: center;
  border: 2px solid black;
  border-radius: 5px;
  padding: 10px;
  background-color: linen;
}

.token-tile:hover {
  background-color: rgb(255, 108, 50);
}

.token-basic {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}

.token-price {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 4px;
}

.info-container {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: rgb(255, 185, 158);
  margin-bottom: 10px;
  padding: 10px;
  border: 2px solid black;
}

.info-bar-head {
  font-size: 28px;
  margin-bottom: 3px;
}

.tile-container {
  display: flex;
  flex-flow: row wrap;
  gap: 10px 10px;
}

.input {
  font-size: 18px;
  margin-right: 10px;
}

.clear {
  font-size: 18px;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: lightsalmon;
  margin-bottom: 5px;
}

.close {
  position: absolute;
  right: 10px;
  top: 10px;
  width: fit-content;
}
